.navigation{
    display: flex;
    justify-content: space-around; 
    list-style: none;
    padding-top: 1rem;
    margin-top: 0;

    .active{
        border-bottom: 1px solid #e7542b;
        font-style: italic;
    }
    a{
        text-decoration: none;
        color: #e7542b;
        font-size: 18px;
    }
}

.name{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #e7542b;
    padding-top: 0rem;
    font-size: 32px;

    .typewriter {
    overflow: hidden; 
    border-right: 0.1em solid #000; 
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 2.5s steps(32, end), blink-caret 0.75s step-end infinite;
    width: 27ch;
    margin-bottom: 1rem;
    font-size: 26px;
}
}

@keyframes typing {
  from { width: 0 }
  to { width: 27ch }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #e7542b }
}