.navigation{
    display: flex;
    justify-content: space-around; 
    list-style: none;
    padding-top: 1rem;
    margin-top: 0;

    .active{
        border-bottom: 1px solid #e7542b;
        font-style: italic;
    }
    a{
        text-decoration: none;
        color: #e7542b;
        font-size: 18px;
    }
}


@keyframes typing {
  from { width: 0 }
  to { width: 27ch }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #e7542b }
}